body {
  cursor: none;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #2D278C;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.15s ease; 
}

/* click effect */
.cursor-click {
  transform: translate(-50%, -50%) scale(0.9);
}


.cursor-media {
  width: 96px;
  height: 96px;
  background-color: transparent !important;
  background-image: url("/cursorView.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
  transition: none !important; 
}

/* Hide custom cursor on touch devices */
@media (hover: none), (pointer: coarse) {
  .cursor {
    display: none !important;
  }

  body {
    cursor: auto;
  }
}
