
.work-media {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  box-shadow:
    rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.work{
   box-shadow:
    rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}


.work-video,
.work-cover {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;

  pointer-events: none; 
}


.work-media::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(40, 40, 40, 0.35);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; 
}

.work-media:hover::after {
  opacity: 1;
}


.work-media:hover .work-video,
.work-media:hover .work-cover {
  transform: scale(1.02);
}


.work-media-link,
.work-media-link:link,
.work-media-link:visited,
.work-media-link:hover,
.work-media-link:active,
.work-media-link * {
  cursor: none !important;   
  display: block;
  text-decoration: none;
}


.work-row {
 padding-top: 20px;
 padding-bottom: 40px;
}

.work-card-title {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  color: #140D4A;
  padding-top: 10px;
}

.work-card-desc {
  font-family: 'Jomolhari', serif;
}

.work-tags {
  display: flex;
  gap: 16px;
}

#work-section {
  padding-bottom: 30px;
  scroll-margin-top: 100px; 
}


.work-title{
   font-family:'Source Code Pro', monospace;
   font-size: 45px;
   color: #2D278C;
   padding-top: 20px;

}



.work-tag-shine {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 999px;
}

.work-tag-shine:hover .work-tag {
  transform: translateY(1px);
}

.work-tag-shine::after {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 120%;
  height: 100%;

  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.6) 45%,
    rgba(255, 255, 255, 0.0) 60%
  );

  pointer-events: none;
}

.work-tag-shine:hover::after {
  left: 120%;
  transition: left 0.9s ease-in-out;
}

/* keep the img normal */
.work-tag {
  display: block;
}
