@media (min-width: 768px) {
  .lower-block {
    margin-top: 200px; 
    
  }
}
@media (min-width: 768px) {
  .lower-text {
    margin-top: 90px; /* adjust this value */
  }
}

.problem{
  padding-top: 40px;
}

.intro-img{
  padding-top: 20px;
}

.strategy, .solution, .outcome, .takeaways, .problem{
  padding-top: 40px;
}


@media (min-width: 768px) {
  .lower-text {
    margin-top: 90px; /* adjust this value */
  }
}

.takeaways{
  padding-bottom: 20px;
}

.context{
  padding-top:40px;
}